<div class="container mainPage">
    <div class="content row my-5 ">
        <div class="img col-lg-6 col-md-12 my-3">
            <img src="../../../../assets/welcome.png" class="w-100"/>
        </div>
        <div class="info col-lg-6 col-md-12 my-3" >
            <h2>Welecome back </h2>
            <h1 class="text-info my-2">{{currentUser}}</h1>
            <p class="lead">We would like to take this opportunity to welcome you to our practice 
                and to thank you for choosing our physicians to participate in your healthcare. 
                We look forward to providing you with personalized,
                 comprehensive health care focusing on wellness and prevention.</p>
           <button (click)="book()" class="btn btn-primary">Book New Appointment</button>
        </div>
    </div>
</div>