.card{
    margin: 0 auto !important;
  }
  .nav-link{
    font-size: 25px;
  }
  
  .card-header-tabs
  {
    padding: 10px;
  }.nav-link{
    padding: 20px !important;
    color:#12aada ;
    // background-color: aqua;
  }
  #first{
    font-size: 23px;
    color:#12aada ;
  }
  
  .nav-link:hover{
  
    border-color: #12aada;
  }