<div class="container ">
    <div *ngIf="show()"  class="row ">
        <input  [(ngModel)]="studentDataSelected.studentId"           class="Form-control col-1 mx-1" name="studentID" placeholder="Student id">
        <input  [(ngModel)]="studentDataSelected.studentName"         class="Form-control col-2 mx-1" name="studentname" placeholder="Student Name">
        <input  [(ngModel)]="studentDataSelected.studentGrade"       class="Form-control col-2  mx-1" name="studentgrade" placeholder="Student age">
        <input  [(ngModel)]="studentDataSelected.studentAge"         class="Form-control col-2  mx-1"  name="studentage"      placeholder="Student Address ">
        <input  [(ngModel)]="studentDataSelected.studentAddress"    class="Form-control col-2   mx-1"  name="studentage"      placeholder="Student Address ">

        <button (click)="saveEdit(studentDataSelected.studentId)" class="btn btn-info ms-auto col-2 text-white"> Save Edit</button>
    </div>
</div>
