<div class="card">

    <div class="card-body">
      <h2 class="card-title">Employee's Data</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{newEmployee.Id}}</li>
      <li class="list-group-item">{{newEmployee.Mobile}}</li>
      <li class="list-group-item">{{newEmployee.Email}}</li>
      <li class="list-group-item">{{newEmployee.Date}}</li>
      <li class="list-group-item">{{newEmployee.Address.City}}</li>
      <li class="list-group-item">{{newEmployee.Address.Street}}</li>
      <li class="list-group-item">{{newEmployee.Deignation}}</li>
    </ul>
    <div class="card-body">
      <a (click)=back() >&lt; &lt;   GO To Back</a>
  
    </div>
  </div>
