<div class="container my-5">
      <form [formGroup]="AddNewAppointment">
        <input [(ngModel)]="newAppointment.id" type="text"  class="form-control my-2" placeholder="StudentId" name="studentId" />
        <input [(ngModel)]="newAppointment.PatientName" type="text" class="form-control my-2" placeholder="StudentName" name="studentId"/>
        <input [(ngModel)]="newAppointment.PatientEmail" type="email" class="form-control my-2" placeholder="StudentGrade" name="studentId"/>
        <input [(ngModel)]=" newAppointment.PatientMobile" type="text" class="form-control my-2" placeholder="StudentAge" name="studentId"/>
        <input [(ngModel)]="newAppointment.PatientGender" type="text" class="form-control my-2" placeholder="StudentAddress" name="studentId"/>

        <!-- <button class="btn btn-primary" (click)="save(newStudent)">Add Student</button> -->
        
      </form>
        
</div>
