
<app-header></app-header>
<br><br><br>
<app-payment-page></app-payment-page>


<!-- <div class="content"> -->
  <!-- <app-sidenav></app-sidenav> -->
  <!-- <section class="ftco-section "> -->
    <!--===========================-->
    <!-- <div class="header ">
        <app-medicine-list></app-medicine-list>
      
    </div> -->
    <!--===========================-->
    <!-- <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap shadow-lg">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Operations</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">
                              <div class="pl-3">
                                  <img src="../assets/testimonials-5.jpg"/>
                              </div>
                          </td>
                          <td>Mark89@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">
 <app-header></app-header> 
                          </div>-->

 <!-- <div class="content">
          <app-sidenav></app-sidenav>
          <section class="container-fluid">
                 <app-doctor-home></app-doctor-home> -->
                <!-- <app-home-client-service></app-home-client-service> -->

                  <!-- <router-outlet></router-outlet> -->
                  <!-- <app-doctor-home></app-doctor-home> -->

                              <!-- <div class="pl-3">
                                  <img src="../assets/team-4.jpg"/>
                              </div>
                          </td>
                          <td>John35@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  -->
<!-- </section>
  </section>  -->
<!-- </div> -->

<!-- <app-view-appointment></app-view-appointment> -->
<!-- <app-edit-appointment></app-edit-appointment> -->
<!-- <app-add-appointment></app-add-appointment> -->
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
