<!-- <app-header></app-header> -->

 <div class="content">
  <app-sidenav></app-sidenav>
  <section class="container-fluid">
    <router-outlet></router-outlet>
    <app-doctor-home></app-doctor-home>
    <!--===========================-->
     <!-- <div class="header ">
      <div><h1>Filter</h1></div>
      <div class="input-group ">
        <input type="text" class="form-control bg-light border-0 p-3" placeholder="search" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
    </div> -->
    <!--===========================-->
    <!-- <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap shadow-lg">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Operations</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">
                              <div class="pl-3">
                                  <img src="../assets/testimonials-5.jpg"/>
                              </div>
                          </td>
                          <td>Mark89@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">

                              <div class="pl-3">
                                  <img src="../assets/team-2.jpg"/>
                              </div>
                          </td>
                          <td>Jacob24@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">

                              <div class="pl-3">
                                  <img src="../assets/testimonials-4.jpg"/>
                              </div>
                          </td>
                          <td>Larry25@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>
                        <tr class="alert" role="alert">
                          <td class="d-flex align-items-center">

                              <div class="pl-3">
                                  <img src="../assets/team-4.jpg"/>
                              </div>
                          </td>
                          <td>John35@gmail.com</td>
                          <td>Markotto89</td>
                          <td>
                            <button type="button" class="btn btn-outline-info">Details</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-success">Update</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
</section>
</div>

