<!-- <app-header></app-header> -->

 <div class="content">
          <app-sidenav></app-sidenav>
          <section class="container-fluid">
            <app-employee-home></app-employee-home>
                <!-- <app-doctor-home></app-doctor-home> -->
              
                <!-- <app-home-client-service></app-home-client-service> -->
                <!--
                <app-add-employee></app-add-employee>
                <app-edit-employee></app-edit-employee>
                <app-employee-details></app-employee-details>
               
                <app-employee-list></app-employee-list>
                <app-employee-profile></app-employee-profile>
                -->
                   

                  <!-- <router-outlet></router-outlet> -->
                  <!-- <app-doctor-home></app-doctor-home> -->

          </section>
</div>

