.padding {
    padding: 5rem !important;
}

.card {
    padding-bottom: 50px;
}
.form-control:focus {
    box-shadow: 10px 0px 0px 0px #ffffff !important;
    border-color: #4ca746
}
#exampleModalLabel {
    font-weight: bold;
    font-size: 16px;
    color: #220a0a;
}

.form-group {
    margin: 10px 0;
}
.btn-lg {
    margin-top: 20px;
}
.payment {
    color: red;
}

h1 {
    color: cornflowerblue;
}

input.ng-touched.ng-invalid {
    border: 2px solid red;
}
input.ng-touched.ng-valid {
    border: 2px solid green;
}